*{
margin: 0;
padding: 0;

}
.NavbarApp{
    display: flex;
    width: 1377px;
    height: 101px;
    top: 2px;
    left: 68px;
    gap: 0px;
    opacity: 0px;
    background: #FBFBFB;
    margin-right: 20px

}
.logo-no-background.png{
    width: 100px;
    height: auto;

    /*width: 30px;
   height: 65.21px;*/

 
}
.logo-submenu{
    justify-content: flex-end;
    margin-left: 500px;
    margin-top: 20px;
}
.dropdown{
    margin-left: 25px;
    margin-top: 20px;

}

.btn-secondary{
    width: 30px;
    height: 30px;
    left: 1321px;
    gap: 0px;
    opacity: 0px;
  
    

}