*{
margin: 0;
padding: 0;

}
.Sidebar{

    display: flex;
    background: #085F63;
    width: 14rem;
    height: 100vh;
    border-right: 1px solid;
    display: block; 
  
}
    ul{
        list-style: none;
    }
        li{
            margin-bottom: 1rem;
            text-decoration: none;
        }