/* src/Sidebar.css */
.sidebar {
    position: fixed;
    top: 60px; /* Ajustar para que no se superponga con el navbar */
    left: 0;
    width: 250px;
    height: calc(100% - 60px); /* Ajustar para que no se superponga con el navbar */
    background-color:#085F63;
    color: white;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }
  
  .sidebar.open {
    transform: translateX(0);
    .toggle-button :hover{
      transform: rotate(180deg);
    }
  }
  
  .toggle-button {
    position: absolute;
    top: 20px;
    right: -50px;
    padding: 10px 10px;
    background-color:#085F63;
    color: white;
    border: none;
    cursor: pointer;
    transform: rotate(180deg);
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin-top: 90px;
  }
  
  .sidebar-menu li {
    padding: 10px;
    text-align: center;
  }
  
  .sidebar-menu li a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 40px
  }
  
  .sidebar-menu li a:hover {
    background-color: #085F63;
    
  }

.sidebar-menu li img {
  margin: 10px;
}
  