*{
margin: 0;
padding: 0;

}
.Sidebar{
    display: flex;
    width: 250px;
    height: 100vh;
    border-right: 1px solid;
    gap: 0px;
    opacity: 0px;
    display: block;
    background: #085F63;
    margin-top: 1px;

}
   ul{
       list-style: none;
       line-height: 5;
        text-decoration: none;
        color: white;
    }
        li{
            margin-bottom: 1rem;
            text-decoration: none;
            color: white;
        }

.contacApp.png{

    width: 35px;
    height: 35px;
    top: 6px;
    left: 16px;
    gap: 0px;
    opacity: 0px;

}

.moviApp.png{

    width: 35px;
    height: 35px;
    top: 6px;
    left: 16px;
    gap: 0px;
    opacity: 0px;

}

.transfApp.png{

    width: 35px;
    height: 35px;
    top: 6px;
    left: 16px;
    gap: 0px;
    opacity: 0px;

}

