.titulo_contactos{
    background-color: #49BEB7;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.titulo_cont{
    text-align: center;
    color: white;
}

/*leyenda*/
.leyenda{
    text-align: center;
    margin-top: 50px;
    text-align: justify;
    text-justify: inter-word;
}

/*imformacion contactos*/
.contactos_info{  
    margin: 0 auto;
    
}

.contactos{
    margin-top: 10px;
    text-align: justify;
    text-justify: inter-word;
    display: inline;

}

.rrss{
    text-align: center;
}
h6 {
    font-weight: bold;
  }

  *{
    margin: 0; 
    padding: 0;
     box-sizing:border-box;
  }