 
.login-container h3,
.login-container h2{
    font-weight: bold !important; /* Títulos en negrita */
    color: #085F63 ;
  }

.text-login h3{
  font-weight: 600;
}

.form-control {
    border: 2px solid #085F63 !important;
    background-color: #FDFEFF !important;
}

.custom-btn{
    
    background: linear-gradient(to top, #085F63 13%, hsl(179, 55%, 36%) 70%, #49BEB7 100%) !important; 
    color: white;
    border: none !important; 
  }

  .custom-btn:hover 
  { 
    background: linear-gradient(to top, #0b7a80  13%, #34b3b0 70%, #57e2d9 100%) !important;
  }

  .custom-background-form{
    background-image: url('.././assets/images/background-login.png'); 
    /*background-size: cover; Asegura que la imagen fondo cubra todo el div */ 
    background-position: center; /* Centra la imagen de fondo en el div */ 
    background-repeat: no-repeat; /* Evita que la imagen fondo se repita en el div */
  }
  
  *{
    margin: 0; 
    padding: 0;
     box-sizing:border-box;
  }