/*container de mision y vision
titulo*/
.title_nosotros{
    text-align: center;
    margin-top: 10px;
    color: #085F63;

}
/*container de mision y vision
mision y vision*/
.mision_container{
    text-align: center;
    align-items: center; 
    justify-content:center; 
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding: 20px 5px;
    background-color: #49BEB7;
    display: flex;
    gap: 10px;


    @media (min-width: 640px) {
        padding: 20px 10px;
      }
    
      @media (min-width: 1024px) {
        padding: 20px 20px;
      }
     
 
}

.mision_title{
  font-size: 3rem;
  margin-bottom: 100px;
  transform: translate(360px,30px);
 
  
  
}
.vision_title{
  font-size: 3rem;
  margin-bottom: 100px;
  transform: translate(310px,30px);

  
}

.mision_parrafo{
  line-height: 1.7;
  margin-bottom: -150px;
  text-align:left;
  
}
.vision_parrafo{
  line-height: 1.7;
  margin-bottom: -150px;
  text-align:left;
  
}

.img_mision{
  display: grid;
  border: #085F63;
  position: absolute; 
  top: 50px; 
  left: 50px; 
  transform: translate(350px, 290px); 
  width: 150px; /* Ajusta el tamaño de la imagen según sea necesario */
   height: auto;
   margin-top: 10px;

}
.img_vision{
  display: grid;
  border: #085F63;
  position: absolute; 
  top: 50px; 
  left: 50px; 
  transform: translate(1099px, 290px); 
  width: 150px; /* Ajusta el tamaño de la imagen según sea necesario */
   height: auto;
   margin-top: 10px;

}
/*container de objetivos*/
.objetivos_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.objetivos_content{
  max-width: 60%;
  max-height: 3500px;
  margin: 80px;

}
/*container de objetivos
titulo*/
.objetivos_title{
    text-align: center;
    margin: 30px;
    color: #085F63;
}
.obj_img{
  width: 400px;
  margin-right: 50px;
 
}
.cont::before {
  content: "• "; 
  font-size: 40px; 
  margin-right: 5px;
  color: #49BEB7;
}