/*titulo principal de la pagina*/

.servicios_title{
    text-align: center;
    margin-top: 10px;
    color: #085F63;
    font-family: 'MontserratAlternates', sans-serif;
}

/*containers turquesas*/
.turquesa_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #49BEB7;
    width: 100%;
    margin: 0 auto;
    font-family: 'MontserratAlternates', sans-serif;
   
}
.titulo_servicioTurquesa{
    text-align: left;
    margin-left: 40px;
    margin-top: -40px;
    font-family: 'MontserratAlternates', sans-serif;

}
.img_turquesa{
    max-width: 300px;
    margin: 50px;
    margin-right: 200px;
    
    
}

/*containers blancos*/
.blanco_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    font-family: 'MontserratAlternates', sans-serif;

}
.titulo_servicio{
    text-align: right;
    color: #085F63;
    margin-right: 550px;
    margin-top: 20px;
    font-family: 'MontserratAlternates', sans-serif;
}
.img_blanco{
    max-width: 300px;
    margin: 50px;
   
}


/*margenes parrafos
turquesa*/
.transf_container{
    margin-left: 75px;
    margin-right: 200px;
    text-align: justify;
    text-justify: inter-word;
}
.retiro_container{
    margin-left: 75px;
    margin-right: 200px;
    text-align: justify;
    text-justify: inter-word;
}
.beca_container{
    margin-left: 75px;
    margin-right: 200px;
    text-align: justify;
    text-justify: inter-word;
}

/*margenes parrafos
blanco*/
.deposito_container{
    margin-right: 75px;
    margin-left: 200px;
    text-align: justify;
    text-justify: inter-word;
}
.matricula_container{
    margin-right: 75px;
    margin-left: 200px;
    text-align: justify;
    text-justify: inter-word;
}

