/*titulo principal de la pagina*/

.servicios_title{
    text-align: center;
    margin-top: 10px;
    color: #085F63;
    font-family: 'MontserratAlternates', sans-serif;
}

/*containers turquesas*/
.turquesa_container{
    background-color: #49BEB7;
    font-family: 'MontserratAlternates', sans-serif;
    text-align: justify;
    @media (max-width: 500px){
        padding: 10%;
        margin: 5px;
    }
    
}
.titulo_servicioTurquesa{
    text-align: left;
    margin-top: 100px;
    font-family: 'MontserratAlternates', sans-serif;
    
}
.img_turquesa{
    max-width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;    
}

/*containers blancos*/
.blanco_container{
    background-color: white;
    font-family: 'MontserratAlternates', sans-serif;
    text-align: justify;
    @media (max-width: 500px){
        padding: 10%;
        margin: 5px;
    }
    
}
.titulo_servicio{
    text-align: left;
    color: #085F63;
    margin-top: 100px;
    font-family: 'MontserratAlternates', sans-serif;
}
.img_blanco{
    max-width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;  
    @media (max-width: 500px){
        margin-bottom: 10px;
    }
    
}


/*margenes parrafos
turquesa*/
.transf_container{
   
   
}
.retiro_container{
    
}
.beca_container{
   
}

/*margenes parrafos
blanco*/
.deposito_container{
 
}
.matricula_container{
}

