.headbar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 32px 122px 22px 6px;
    height: 127px;
    width: 1312px;
  }
  
  .contenedor-imagen{
    left: 35px;
    bottom: 0px;
  }
  
  .custom-button {
    padding: 10px 20px;
    background-color: #49BEB7; /* Color del botón */
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'MontserratAlternates', sans-serif;
    font-size: 24px;
    font-weight: 600;
  }
  
  .custom-button:hover {
    background-color: #54ddd4; /* Cambia de color al pasar el ratón */
  }
  
  .contenedor-logo{
    display: inline-block;
    padding-right: 330px;

  }