/* Logo: tamaño ajustable */
.logo {
    height: 40px;
  }
  
  @media (min-width: 768px) {
    /* En pantallas medianas o más grandes, aumenta el tamaño del logo */
    .logo {
      height: 50px;
    }
  }
  
  /* Media query para dispositivos móviles */
  @media (max-width: 767px) {
    /* Centraliza el logo y los links */
    .navbar-brand {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  
    /* Centraliza el botón de "Banca en Línea" */
    .btn {
      margin: 0 auto;
      display: block;
      width: 100%;
      max-width: 200px; /* Ancho máximo del botón en móviles */
    }
  
    /* Oculta el ícono de Laptop en pantallas pequeñas */
    .d-md-block {
      display: none !important;
    }
  }