.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem 1rem;
    padding-left: 0;
    background-color: #085A4C;
    height: 80px;
  }

  .navbar::before{
    content:'';
    display:flex;
    height:0;
    width: 0;
  }
.navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}
  
.navbar-links a {
    color: #fff;
    text-decoration: none;
}
  
.navbar-links a:hover {
    text-decoration: underline;
}

/*aplica el font*/
.navbar-links li a {
  font-family: 'MontserratAlternates', sans-serif;
  font-weight: 700; /* Bold o negrita */
  padding: 10px 15px;
  text-decoration: none; /* Opcional: quita el subrayado */
}