

/* Estilo Regular */
@font-face {
    font-family: 'MontserratAlternates';
    src: url('./assets/fonts/MontserratAlternates-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  /* Estilo Bold */
  @font-face {
    font-family: 'MontserratAlternates';
    src: url('./assets/fonts/MontserratAlternates-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  
  .container_body{
    background-color: #085A4C;
    font-family: 'MontserratAlternates', sans-serif;
  }

  .container_tac{
    background-color: #67C7C1;
    font-family: 'MontserratAlternates', sans-serif;
  }

  .center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-align: center;
  }
  
  .container_n{
    text-decoration-color: #085A4C;
    font-family: 'MontserratAlternates', sans-serif;
    font-weight: 400;
    font-style:inherit;
  }

  
  .container_s{
    font-family: 'MontserratAlternates', sans-serif;
    font-weight: 400;
    font-style:inherit;
  }