

/* Estilo Regular */
@font-face {
    font-family: 'MontserratAlternates';
    src: url('./assets/fonts/MontserratAlternates-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  /* Estilo Bold */
  @font-face {
    font-family: 'MontserratAlternates';
    src: url('./assets/fonts/MontserratAlternates-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  body, h1, h2, h3, h4, h5, h6, p, a, input, button 
  { 
    font-family: 'MontserratAlternates', sans-serif !important;
  }
.container_body_home{
      background-color: #085F63;
      font-family: 'MontserratAlternates', sans-serif;
    }
  
  .container_tac{
    background-color: #67C7C1;
    font-family: 'MontserratAlternates', sans-serif;
  }

  .center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-align: center;
  }
  
  .container_n{
    text-decoration-color: #085A4C;
    font-family: 'MontserratAlternates', sans-serif;
    font-weight: 400;
    font-style:inherit;
  }


  .container_s{
    font-family: 'MontserratAlternates', sans-serif;
    font-weight: 400;
    font-style:inherit;
  }


  
 /* @media (min-width: 767px) {
    .navbar-custom, .container_body_home, .footer-custom {
      min-height: 100vh;
      display: flex;
      align-items: center; 
    }
  }*/


/* Estilos de la imagen */
.container_body_home img {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}

/* Media Query para pantallas pequeñas (menores a 576px) */
@media (max-width: 576px) {
  .container_body_home .text-container {
    text-align: center; /* Centra el texto en pantallas pequeñas */
  }

  .container_body_home img {
    max-height: 300px; /* Reduce la altura máxima de la imagen en pantallas pequeñas */
  }

  .container_body_home h1 {
    font-size: 1.5rem; /* Reduce el tamaño del título */
  }

  .container_body_home h2 {
    font-size: 1.25rem; /* Reduce el tamaño del subtítulo */
  }
}

/* Media Query para pantallas medianas (entre 576px y 992px) */
@media (min-width: 576px) and (max-width: 992px) {
  .container_body_home .text-container {
    text-align: left; /* Alinea el texto a la izquierda en pantallas medianas */
  }

  .container_body_home img {
    max-height: 350px; /* Ajusta la altura máxima de la imagen */
  }
}

/* Media Query para pantallas grandes (mayores a 992px) */
@media (min-width: 992px) {
  .container_body_home h1 {
    font-size: 2.5rem; /* Mantiene un tamaño adecuado para pantallas grandes */
  }

  .container_body_home h2 {
    font-size: 2rem;
  }
}